/* Write your code here. */
.list_card {
  list-style-type: none;

  margin: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
  outline: none;
}
.image_emoji {
  margin: 10px;
  height: 100px;
  width: 100px;
}
