/* Write your code here. */
.footer {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
  list-style-type: none;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
