/* Write your code here. */
.myfooter_container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
}
.mynav_bar {
  align-self: flex-start;
  width: 100%;
}
.footer {
  height: 100vh;
  list-style-type: none;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
.loosecontainer {
  height: 100vh;
}
